/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  height: 100vh;
} */

/* .webcam {
  height: 80vh;
  width: 90vw;
  padding: 0;
} */

/* .camera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 100vh;
} */

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.b1 {
  text-decoration: none;
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  background-color: #2b2647;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  align-items: center;
  margin: 5px;
}

/* .resulthas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
